In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/Users/edwardzhang/Documents/college/4th year sem 1/Data Science Project/Project 1/GenerativeAI tweets.csv')

In [6]:
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username
0,0,2023-04-19 21:27:19+00:00,1648800467206672384,From Studio Gangster to Synthetic Gangster ðŸŽ¤.....,resembleai
1,1,2023-04-19 21:27:09+00:00,1648800425540476929,Took me some time to find this. I build this #...,devaanparbhoo
2,2,2023-04-19 21:26:57+00:00,1648800376479715328,Mind blowing next wave #generativeai platform...,timreha
3,3,2023-04-19 21:26:49+00:00,1648800341193027584,Open Source Generative AI Image Specialist Sta...,VirtReview
4,4,2023-04-19 21:25:00+00:00,1648799883934203905,Are you an #HR leader considering which future...,FrozeElle

In [7]:
df = df['Text']

In [8]:
df.head()

0    From Studio Gangster to Synthetic Gangster ðŸŽ¤.....
1    Took me some time to find this. I build this #...
2    Mind blowing next wave #generativeai  platform...
3    Open Source Generative AI Image Specialist Sta...
4    Are you an #HR leader considering which future...
Name: Text, dtype: object

In [12]:
df.isna().sum()

0

In [13]:
df.to_csv('generativeAI_tweets_cleaned.csv')